@import '../styles/reset';

// Articulat CF Light
// font-family: "articulat-cf", sans-serif;
// font-weight: 300;
// font-style: normal;

// Articulat CF Medium
// font-family: "articulat-cf", sans-serif;
// font-weight: 600;
// font-style: normal;

// Articulat CF Bold
// font-family: "articulat-cf", sans-serif;
// font-weight: 800;
// font-style: normal;

:root {
  --font-family: 'articulat-cf', sans-serif;

  --color-white: #fff;
  --color-white-o-50: rgba(255, 255, 255, 0.5);
  --color-white-o-20: rgba(255, 255, 255, 0.2);
  --color-primary-text: #909dac;
  --color-accent-color: #578ae8;
  --color-background: #060606;

  --main-max-width: 1400px;
  --content-max-width: 1200px;
  --main-padding: 32px;
  --content-padding: 16px;
  --big-border-radius: 32px;
  --medium-border-radius: 24px;
  --max-width: 2560px;
  --min-width: 600px;
}

body {
  font: 16px/1.6 var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #060606;
  // background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, #000 70.2%);
  // background: radial-gradient(
  //   88.73% 100% at 50% 0%,
  //   rgba(157, 198, 255, 0.3) 0%,
  //   rgba(0, 64, 255, 0) 74.5%,
  //   rgba(0, 64, 255, 0) 100%
  // );
  color: #fff;
}

* {
  box-sizing: border-box;

  &:focus {
    outline: 0;
  }
}
